{% extends "vitautdesign/base.html" %}
{% block title %}News{% endblock %}
{% block content %}
    <div id="post">
        {% for post in posts %} <!-- итерация по всем постам -->
            <dl>
              <dd><h3><a href="{% url 'news:one_new' post.id %}">{{ post.title }}</a></h3></dd>
            </dl>
        {{ post.timestamp }} <!-- дата публикации -->
        {{ post.author }} <!-- автор -->
        {{ post.body|truncatewords:80|safe }} <!-- обрезаем посты, вывод по 80 слов -->
        <!-- ссылаемся на полный текст поста -->
        <a href="{% url 'news:one_new' post.id %}">Читать полностью&raquo;</a>
        {% endfor %}
    </div>
{% endblock %}