<div>
        
      <h class="dline"><a href="{% url 'home' %}"><span>vitautdesign.by</span></a>
      </h>
      <p class="dline">
     Проектирование и расчет систем отопления и вентиляции зданий 
      </p>
        </div>
    <top-navigation>
             
         <div class="list-inline">
<li><a  href="{% url 'home' %}"><span>Главная</span></a></li>
<i>|</i> <li><a href="{% url 'home' %}"><span>Заказать проект</span></a></li>
<i>|</i> <li><a href="/?c=ca&amp;i=611&amp;lang=ru"><span>Консультация</span></a></li>
<i>|</i> <li><a href="{% url 'news:news' %}"><span>Статьи</span></a></li>
<i>|</i> <li><a href="/?c=ca&amp;i=623&amp;lang=ru"><span>Онлайн расчеты</span></a></li>
<i>|</i> <li><a href="{% url 'contacts' %}"><span>Контакты</span></a></li>
</div>

             </top-navigation>