<header>
<div class="tvs-navigation col-xs-12">

  <div class=" container container-fluid">
        <ul class="nav nav-tvs">
    <li  ><a href="{% url 'home' %}" class="tvs-brand">Vitautdesign</a></li>
    <li role="presentation"><a href="{% url 'home' %}">Заказать проект</a></li>
    <li role="presentation"><a href="/?c=ca&amp;i=611&amp;lang=ru">Консультация</a></li>
    <li role="presentation" ><a href="{% url 'news:news' %}">Статьи</a></li>
    <li role="presentation" ><a href="/?c=ca&amp;i=623&amp;lang=ru">Онлайн расчеты</a></li>
    <li role="presentation" ><a href="{% url 'contacts' %}">Контакты</a></li>

</ul>


</div>


</div>
    </header>

