{% extends "vitautdesign/base.html" %}
{% block title %}Index Page{% endblock %}

{% block titlepage %}
   <div class="tvsbgr">
     <div class="container">
                    <h1>Vitautdesign.by </h1>
                       <p> - проектирование и расчет систем отопления, вентиляции и
                        кондиционирования зданий</p>
                </div>
      </div>

{% endblock %}

{#      <div class="row ">#}
{% block content %}

  <div class="container TVS-docs-featurette">
  <div class="row">
            <div class=" col-xs-12 col-sm-9 ">
<h3 class="text-center"> Проектирование, программирование, технические расчеты в строительстве </h3>
<p class="text-center">Vitautdesign.by - сайт для тех, кто проектирует, монтирует
    или строит свой собственный дом или квартиру. Здесь можно получить консультацию, заказать проект
или скачать программы для автоматизации расчетов и проектирования</p>
<hr class="half-rule">

         <div class="row text-center">


      <div class="col-sm-4">

          <button type="button" class="tvs-btn tvs-btn-primary">
              <tvs20>Я строю дом</tvs20> </button>


  </div>

        <div class="col-sm-4">

          <button type="button" class="tvs-btn tvs-btn-primary">
              <tvs20>Я монтирую</tvs20> </button>
  </div>

        <div class="col-sm-4">

          <button type="button" class="tvs-btn tvs-btn-primary">
              <tvs20>Я проектирую</tvs20> </button>
  </div>

</div>

            </div>



        {% block leftmenu %}
   <div class="col-sm-3   visible-sm visible-md visible-lg">

                <div class="tvs-panel tvs-panel-default">
                    <div class="tvs-panel-heading">Новости</div>
                    <div class="tvs-panel-body">
                        <div id="post">
                            {% for post in posts %} <!-- итерация по всем постам -->

                                <li><a href="{% url 'news:one_new' post.id %}">{{ post.title }}</a></li>

                                {#        {{ post.timestamp }} <!-- дата публикации -->#}
                                {#        {{ post.author }} <!-- автор -->#}
                                {#        {{ post.body|truncatewords:3|safe }} <!-- обрезаем посты, вывод по 80 слов -->#}
                                {#        <!-- ссылаемся на полный текст поста -->#}
                                {#        <a href="{% url 'news:one_new' post.id %}">Читать полностью&raquo;</a>#}
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>

{% endblock %}

 </div>
    </div>
{% endblock %}



